.footer {
  width: 100%;
  position: fixed;
  top: 90%;
  right: 4px;
  background-color: white;
  box-sizing: border-box;
}

.ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.icon {
  list-style: none;
  margin: 1rem auto;
}

.icon svg {
  width: 3rem;
  margin: 0 1.5rem;
  cursor: pointer;
}

.icon svg:hover {
  background-color: rgb(219, 210, 210);
  border-radius: 25px;
}
