.footer {
  width: 100%;
  position: fixed;
  top: 90%;
  right: 4px;
  padding: 2rem;
  background-color: white;
  box-sizing: border-box;
}

.ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.icon {
  list-style: none;
  margin-bottom: 2rem;
}

.icon svg {
  width: 2.5rem;
  margin: 0 1.5rem;
}
