.footer {
  width: 100%;
  position: fixed;
  top: 90%;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.ul {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.icon {
  list-style: none;
  margin: 0 1.5rem;
}

.icon svg {
  width: 2.5rem;
}
