.header {
  text-align: center;
  font-family: 'Oleo Script';
}

.h1 {
  font-size: 54px;
  margin: 0;
  padding: 0;
}

.story {
  border-bottom: 2px solid black;
  text-align: center;
}

.ul {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.li {
  list-style: none;
}

.li img {
  width: 20%;
  border: 2px solid red;
  border-radius: 50px;
}

.p {
  width: 50%;
  padding: 0;
  margin: 0 auto;
}
