.header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Oleo Script';
  display: flex;
  align-items: center;
}

.icon svg {
  width: 2rem;
}

.h1 {
  font-size: 54px;
  margin: 0 auto;
  padding: 0;
  display: inline;
}
